body {
  background: beige;
  font: 18px Arial;
}

chess-game {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

schaakzet-teams > div {
  font-size: 2em;
  display: grid;
  grid-template-columns: 300px 600px 1fr 1fr 1fr;
}
