/*
 * Base
 */

body {
  margin: 0;
  padding: 10px 15px;
  background: beige;
  font: 16px Arial;
}

button {
  padding: 4px 8px;
  border: 1px solid black;
  cursor: pointer;
}

/*
 * Available Games Overview
 */

chess-availablegames {
  margin: 14px 0;
  width: 100%;
  display: table;
  border: 1px solid black;
  background-color: white;
}
chess-availablegames > div {
  display: table-row;
}
chess-availablegames > div:nth-child(even) {
  background-color: white;
}
chess-availablegames > div:nth-child(odd) {
  background-color: lightgray;
}
chess-availablegames > div:first-of-type {
  background-color: gold;
}
chess-availablegames > div > h2,
chess-availablegames > div > span {
  padding: 4px 8px;
  display: table-cell;
  width: 1%;
  white-space: nowrap;
}
chess-availablegames .match-guid {
}
chess-availablegames .match-player {
}
chess-availablegames .match-player-wp {
}
chess-availablegames .match-player-color {
}
chess-availablegames .match-actions {
  text-align: right;
}
chess-availablegames .btn-play {
  color: white;
  border-color: gray;
  background-color: gray;
}
chess-availablegames .btn-quit {
  margin: 2px 4px;
  color: white;
  border-color: red;
  background-color: red;
}



chess-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1em;
}
chess-matches{
  background:pink;
  overflow: scroll;
  max-height:90vh;
}

schaakzet-teams > div {
  font-size: 2em;
  display: grid;
  grid-template-columns: 300px 600px 1fr 1fr 1fr;
  gap: 1em;
  row-gap: 2em;
}

todo-list {
  background: yellow;
  display: block;
}
todo-list ul {
  margin-block-start: 0;
}
