body {
  background: beige;
  font: 16px Arial;
}

chess-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1em;
}
chess-matches{
  background:pink;
  overflow: scroll;
  max-height:90vh;
}

schaakzet-teams > div {
  font-size: 2em;
  display: grid;
  grid-template-columns: 300px 600px 1fr 1fr 1fr;
  gap: 1em;
  row-gap: 2em;
}

todo-list {
  background: yellow;
  display: block;
}
todo-list ul {
  margin-block-start: 0;
}
